* {
  box-sizing: border-box;
}

body {
  color: black;
}

.main {
  width: 1296px;
  display: flex;
}

.type {
  margin-bottom: 15px;
  width: 351px;
}

.type li {
  padding: 10px;
}

.type li a {
  text-decoration: none;
}

.home {
  width: 131px;
  height: 24px;
  margin-bottom: 24px; 
}

.home li {
  padding: 5px;
}

.home li a {
  text-decoration: none;
}

.nav {
  /* background-color: black; */
  padding: 10px;
}

.nav-1 {
  justify-content: space-between;
}

.nav a {
  color: black;
}

.d-flex {
  display: flex;
}

.container {
/*   max-width: 100%; */
  width: 1076px;
/*   height: 1301px; */
/*   margin: 0 auto; */
/*   border: 1px solid black;  */
  justify-content: space-between;
/*   margin-bottom: 48px; */
  
}
.right-product{
  max-width: 100%;
/*   border: 1px solid red;  */
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.mr-auto {
  margin-right: auto;
}

.card {
/*   border: 1px solid black; */
}

.card img {
  width: 302.67px;
  height: 302.67px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.card-price {
  padding: 5px; 
  margin-bottom: 48px;
}
.card-price h2 {
  font-size: 16px;
  font-family: "Noto Sans TC";
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 4px;
}

.card-price h3 {
  font-size: 16px;
  font-family: "Noto Sans TC";
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.f-wrap {
  flex-wrap: wrap;
}

.box {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
}

.col {
  max-width: 100%;
/*   margin-right: 24px;  */
/*   margin-bottom: 48px; */
}

.home ul {
  margin-bottom: 24px;
}

.all h1 {
  font-size: 28px;
  font-family: "Noto Sans TC";
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 24px;
}

.left-list li {
  padding: 10px;
  margin-bottom: 16px;
  width: 172px;
}

.left-list a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Noto Sans TC";
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.left-product {
  margin-right: 24px;
  width: 196px;
  height: 304px;
}
.bar {
  width: 336px;
}
.arrow-left {
  width: 40px;
  margin-right: 12px;
}
.side-bar {
  margin-right: 12px;
  max-width: 100%; 
}
.side-bar ul {
  max-width:100%;
}
.side-bar li {
  width: 40px;
}
.side-bar li a {
  text-decoration: none; 
}
.arrow-right {
  width: 40px;
 
}
.footer {
  width: 1920px;
/*   border: 1px solid green;  */
  display: flex;
/*   justify-content: space-between; */
  background-color: #e8fec5;
}
.service p{
  font-size: 24px;
  font-family: "Noto Sans TC";
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 5px; 
  margin: 24px 24px; 
  
}
.service {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 420px;
}
.btn {
  width: 115px;
  height: 48px;
  margin: 24px 0; 
  background-color: black;
  color: white; 
}
.left {
  max-width: 100%; 
}
.footer1 {
  width: 1296px;
/*   border: 1px solid purple;  */
  display: flex;
  justify-content: space-between;
}
.right {
  display: flex;
  max-width: 100%;
  justify-content: flex-end;
}

.left li{
  font-family: mina; 
  font-size: 20px; 
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.044em;
   padding: 20px; 
}
.right li {
  padding: 20px; 
}

.footer1 a {
 text-decoration: none; 
}
.right li a{
  font-family: Noto Sans TC; 
  font-size: 16px; 
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.05em;
}